<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>Sample PDF</title>
	<link rel="stylesheet" href="./config.css">
	<link rel="stylesheet" href="./style.css">
	<script src="./script.js" defer></script>
	<script src="./chart.js"></script>
</head>

<body>
	<!-- page 1 -->
	<div class="page" id="page1">
		<header>
			<img src="./assets/header.png">
		</header>
		<!-- content start -->
		<div class="content">
			<h3 style="text-align: center;">Last day temperature - table</h3>
			<div class="table-container">
				<table id="table-1">
					<thead>
						<tr>
							<th>Zone</th>
							<th>STATION METEO</th>
							<th>TEMPERATURE MIN</th>
							<th>TEMPERATURE MAX</th>
							<th>TEMPERATURE MOY</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="2">MOYENNE DE TADLA</td>
							<td id="moy-min"></td>
							<td id="moy-max"></td>
							<td id="moy-moy"></td>
						</tr>
					</tfoot>
				</table>
			</div>
			<h3 style="text-align: center;">Last day temperature - chart</h3>
			<div class="canvas-container">
				<canvas id="chart-temp-chart"></canvas>
			</div>
		</div>
		<!-- content end -->
		<footer>
			<img src="./assets/footer.png">
		</footer>
	</div>
	<!-- page 2 -->
	<div class="page" id="page2">
		<header>
			<img src="./assets/header.png">
		</header>
		<!-- content start -->
		<div class="content">
		</div>
		<!-- content end -->
		<footer>
			<img src="./assets/footer.png">
		</footer>
	</div>
</body>

</html>
